    <link rel="stylesheet" href="/css/home_layout.css">

    <div class="form-container">
        <h1>Welcome to Codeial <%= title %></h1>
        <% if(locals.user){ %> 
            <div class="form-input-container">
                <form action="/posts/create" id="post-creation-form" method="post">
                    <textarea name="content" id="create-post"  placeholder="Enter text here...." required></textarea>
                    <input type="submit" value="post">
                </form>
            </div>
        <% } %>
    </div>
    
    <% for(post of posts) { %>
        <div class="posts-container">
            <div class="user-details-container">
                <div class="user-details">
                    <div class="profile-pic"></div>
                    <div class="user-name">
                        <span><%= post.user.name %></span>
                    </div>
                </div>
                <div class="creation-time">
                    <span><%= post.createdAt %></span>
                </div>
            </div>
            <p><%= post.content %></p>
            <div class="post-comments">
                <h4>Comments</h4>
                <% if(locals.user) { %>
                    <form action="/comments/create" method="post">
                        <input type="text" name="content" placeholder="Type here to add comment..." required>
                        <input type="hidden" name="post" value="<%= post._id %>">
                        <input type="submit" value="Post">
                    </form>
                <% } %>
                
                <% for(comment of post.comments) { %> 
                    <div class="comments-section">
                        <div class="profile-pic"></div>
                        <div class="comments-container">
                            <div class="user-name">
                                <p><%= comment.user.name %></p>
                            </div>
                            <div class="comment">
                                <p><%= comment.content %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
                
            </div>
        </div>
    <% } %>   
    

    

    